<div class="container" id="servicesPage">
    <div class="row">
        {{#each services}}
        <div class="col s12 m7">
            <h4 class="header">{{title}}</h4>
            <div class="card horizontal">
                <div class="card-image">
                </div>
                <div class="card-stacked">
                    <div class="card-content serviceBox" data-userid="{{UserId}}" data-serviceid="{{id}}">
                        <i class="material-icons editService" style="display: none;"><a href="">edit</a></i>
                        <p>{{description}}</p>
                        <p>{{price}}</p>
                    </div>
                    <div class="card-action">
                        {{!-- add current bids bellow --}}
                        <p>Current Bids: </p>
                        <button id="bidBtn" type="button"> Place your bid!</button>
                        <script> 
                           /* $("#bidBtn").on("click", function(){
                                $.get("/api/services/:id", function(data){

                                })
                            }*/
                        </script>
                        {{!-- <a href="#">Make a Bid!</a> --}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<script src="/js/services.js"></script>